@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    min-height: 100%;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, rgba(82, 0, 79, 0.9) 16.62%, rgba(174, 21, 67, 0.992188) 62.97%, #E01A4A 85.61%);
}

.cabeca{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(68.15deg, rgba(82, 0, 79, 0.9) 16.62%, rgba(174, 21, 67, 0.992188) 62.97%, #E01A4A 85.61%);
    position: sticky;
    top: 0; 
    padding: 5px;
    z-index: 2;
}

.cabeca_img{
    height: 70px;
    margin-top: 4px;
}

.cabeca_menu{
    display: flex;
    gap: 45px;
}

.cabeca_menu_link{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #FFF2E7;
    font-size: 18px;
    transition-duration: 0.3s;
}

.cabeca_menu_link:hover{
    color: #ceb6a2;
    transition-duration: 0.3s;
}

.cabeca_menu_dropdown:hover .cabeca_menu_link_filho{
    display: block;
    position: absolute;
}

.cabeca_menu_link_filho{
    display: none;
}

.cabeca_menu_link_filho a{
    display: block;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 16px;
    background: #f3decdf1;
    border-radius: 6px;
    padding: 4px;
    margin-top: 6px;
    transition-duration: 0.4s;
}

.cabeca_menu_link_filho :hover{
    background-color: rgb(196, 184, 184);
    transition-duration: 0.3s;
}

.conteudo{
    border-top: 0.4px solid #FFF2E7;
    padding: 18px;
    background-repeat: repeat-y;
    background-position: bottom left;
}

.conteudo_usuario_logado{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user_login_dropdow:focus-within .user_login_opcoes{
    display: block;
    position: absolute;
}

.user_login_botao::before{
    content: "\2630 \a0  ";
}

.user_login_botao{
    border: none;
    border-radius: 3px;
    background: #f1f1f1e0;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.user_login_botao:hover{
    background: #fffffffa;
}

.user_login_opcoes{
    display: none;
    margin-top: 8px;
    margin-left: 3px;
}

.user_login_botao_opcao{
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
}

.user_login_botao_opcao:hover{
    background:#333333e0;
    border-radius: 3px;
    padding: 4px;
}

.conteudo_pri_secao{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
}

.conteudo_pri_secao_txt{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    font-family: 'Roboto Slab', serif;
    color: #FFF2E7;
}

.conteudo_pri_secao_txt_titulo{
    font-size: 48px;
    font-weight: 700;
}

.conteudo_pri_secao_txt_subtitulo{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
}

.conteudo_botao{
    padding: 12px;
    margin-left: 24px;
}

.conteudo_botao_itens{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    font-family: 'Roboto Slab', serif;
    color: #FFF2E7;
}

.conteudo_botao_txt::before{
    content: "\2630 \a0  ";
}

.conteudo_botao_txt{
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 20px;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #3d3d3d;
    transition-duration: 0.4s;
    margin-right: 5px;
    margin-left: 5px;
}

.conteudo_botao_dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f0e3d9fb;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 5px;
}

.conteudo_botao_dropdown:focus-within .conteudo_botao_link_filho{
    display: block;
    position: -webkit-sticky;
}

.conteudo_botao_dropdown:hover{
    background-color: rgb(196, 184, 184);
    transition-duration: 0.4s;
}

.conteudo_botao_link_filho{
    display: none;
    align-items: flex-start;
    color: #3d3d3d;
    background: #f3deccfa;
    border-radius: 8px;
    border: 0.5px solid #3d3d3d;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    margin: 5px;
    z-index: 1;

}

.conteudo_botao_link_filho a{
    display: flex;
    align-items: flex-start;
    font-family: 'Roboto Slab', serif;
    color: #228538;
    border-radius: 8px;
    font-size: 21px;
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 6px;
}

.conteudo_botao_link_filho:hover{
    font-weight: 700;
    border: 0.5px solid #411922f9;
}

.conteudo_seg_secao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
    margin-top: 60px;
    font-family: 'Roboto Slab', serif;
    color: #FFF2E7;
    font-weight: 400;
}

.conteudo_seg_secao_titulo{
    font-size: 24px;
    padding: 18px;
}

.rodape{
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.rodape_img{
    height: 40px;
}

.rodape_assinatura{
    color: #FFF2E7;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 16px;
}

a {text-decoration: none}

@media(max-width: 800px){
    .cabeca_img{
        height: 40px;
        margin-top: 2px;
        margin-right: 12px;
    }

    .cabeca_menu{
        display: flex;
        gap: 16px;
    }

    .cabeca_menu_link{
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        color: #FFF2E7;
        font-size: 12px;
    }

    .cabeca_menu_dropdown:hover .cabeca_menu_link_filho{
        display: none;
    }

    .conteudo_pri_secao_txt_titulo{
        font-size: 24px;
        font-weight: 700;
    }

    .conteudo_botao{
        padding: 0px;
        margin-left: 0px;
    }

    .conteudo_botao_txt{
        border: none;
        padding: 10px;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        color: #3d3d3d;
        cursor: pointer;
    }

    .conteudo_botao_link_filho{
        display: none;
        align-items: flex-start;
        color: #3d3d3d;
        border-radius: 8px;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
        margin-left: 5px;
        margin-top: 18px;
    }

    .conteudo_botao_link_filho a{
        display: flex;
        align-items: flex-start;
        font-family: 'Roboto Slab', serif;
        color: #228538;
        border-radius: 8px;
        font-size: 21px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 6px;
        transition-duration: 0.5s;
    }

    .rodape_img{
        height: 30px;
    }

    .rodape_assinatura{
        font-size: 12px;
    }
}